<!DOCTYPE html>
<html lang="en">

<div class="descriptionModal">
  <form [formGroup]="about" id="about">

    <!-- <p style="background-image: url('./../assets/Standardbank.jpeg');"> -->
    <div class="container">

      <div class="center">

        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
         <div class="wrapper wrapper--w790">
        <div>
        &nbsp;
        <div class="card-body">
            <div class="card-heading">
                <h2 class="title"style="position: absolute;
                top: 200px;
                left: 490px;color:white">ABOUT FEENIX</h2>
              </div>
            <br>
            <h5 style="position: relative;
            top: 200px;
            left: -7px;
            font-size: 15px;color:white;" > Feenix  was  launched  in  June  2017  as  a  response  to  the<br>
            &nbsp;
            #FeesMust  Fall  movement  that  spread  across  campuses<br>
            &nbsp;
            in South Africa during 2015 and 2016. This movement<br>
            &nbsp; &nbsp;
            highlighted the extremely high cost ol tertiary<br>
            &nbsp; &nbsp; &nbsp;
            educationand the impact financial stress has on
            <br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            student  success rates<br><br>

            The  Feenix  team  is  young . diverse  and   passionate  about<br>
            &nbsp;
            education.  We  believe  that  access  to  education  should<br>
            &nbsp;
            not  be  dependent  on  wealth.  Our  founding  partner ,<br>
            &nbsp; &nbsp;
            Standard  Bank  shares  in  this  belief  and  without  their <br>
            &nbsp; &nbsp; &nbsp;
            financial  support  and  guidance ,  Feenix  would  not  be  in <br>
            &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            existence today<br>
            <br>&nbsp;
            Feenix  is  a  Public  Benefit  Organisation  (930057053)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            and  governed  by  a  Trust (IT831/2017).<br>
          </h5>
          <div class="center" style="position:absolute;top:600px">
            <button class="btn btn--radius-2 btn--red" type="submit" style="position:relative;left:210px;background: rgb(201, 185, 42);"routerLink="/successstory">Success Story</button>
          </div>
          <div class="center" style="position:absolute;top:600px">
            <button class="btn btn--radius-2 btn--red" type="submit" style="position:absolute;left:-45px;background:rgb(201, 185, 42);"routerLink="/volunteer">Volunteer</button>
          </div>
          <div class="center" style="position:absolute;top:670px">
            <button class="btn btn--radius-2 btn--red" type="submit" style="position:absolute;left:100px;"routerLink="/benefits">Benefits?</button>
          </div>
               
               

               

                

              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

</html>
<!-- end document-->