
<!DOCTYPE html>
<html lang="en">

<div class="descriptionModal"style="padding-left:-300px;background-color:white;">
  <form [formGroup]="ApproveOrder" id="ApproveOrder">

    <!-- <p style="background-image: url('./../assets/Standardbank.jpeg');"> -->
    <div class="container">

      <div class="center">

        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
          <div class="logoset"><img src="./../assets/Standardbank.png" alt="logoEmbajador" width="100" height="100">
          </div>

          <div class="wrapper wrapper--w790">
            <div>
              <div class="card-heading">
                <h2 class="title"style="
                top: 25px;left:550px
                "> Approve Order</h2>
              </div>
              &nbsp;
              <br><br><br>
              <div class="card-body">
                <div class="form-row m-b-55">
                  <div class="name"> Order Id</div>
                  &nbsp;
                  <div class="value">
                    <div class="input-group">
                      <input class="input--style-5" style="width:unset"type="text" name="orderId" formControlName="orderId">
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-row m-b-55">
                  <div class="name">Comments</div>
                  &nbsp;
                  <div class="value">
                    <div class="input-group">
                      <input class="input--style-5" type="text" name="comments"
                        formControlName="comments">
                    </div>
                  </div>
                </div>
                <div class="form-row m-b-55">
                    <h2 class="name" style="position: absolute;
                    top: 380px;
                    "> Status</h2>
               </div>
               <select name="status" id="status" style="background:transparent;width:200px;border-color: black;" name="status" formControlName="status">
                    <option value="Approved"class="input-group"><h6>Approved</h6></option>
                    <option value="Not Approved"><h6>Not Approved</h6></option>
                  </select>
                  <div class="form-row m-b-55">
                    <div class="name"><div class=forgetset><a href="forgetPasswordController"style="color:#555;position:absolute;left: 10px;bottom:610px;" routerLink="/listorder">Back</a></div></div></div> 
                  <div class="center" style="position:absolute;top:540px">
                    <button class="btn btn--radius-2 btn--red" type="submit"  (click)="submit()">submit</button>
                  </div>
                  <div class="holder" *ngIf="showhide">     
                    <div id="popup" class="popup">  
                             
                        <div class="content" *ngFor="let a of showdata"><h5>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order Approved Successfully</h5><br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button class="btn btn--radius-2 btn--red" type="submit"  routerLink="/FindOrders">ok</button>

                         </div>
                    </div>
                  </div>
                  
                  <div class="holder" *ngIf="errormsg">     
                  <div id="popup" class="popup">            
                      <div class="content">Invalid data {{ '{' }}  {{'}'}}</div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
    </div>
  </form>
</div>

</html>
<!-- end document-->